<header class="header">

<nav id="primary_nav_wrap">
    <ul>
        <li class="current-menu-item"><a href="#"><button class="btn btn-menu">Menu</button></a>
            <ul>
                <li class="dir"><a href="/">HOME</a></li>
                <li class="dir"><a href="/places">PLACE INDEX</a>
                    <ul>
                        <li><a href="/places/{{placeId}}">PLACE SHOW</a>
                            <ul>
                                <li><a href="/places/{{placeId}}/comment">PLACE COMMENT INDEX</a></li>
                            </ul> 
                        </li>
                    </ul>
                </li>
                <li class="dir"><a href="/places/{{placeId}}/comment">BACK</a></li>
            </ul>
        </li>
    </ul>
</nav>

    {{!-- <div id="back-btn"><button class="btn"><a href="/places/{{placeId}}/comment">Back to {{placeName}}'s comments</a></button></div> --}}
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>

<div class="main">
<h1>{{placeName}}</h1>

<div class="main-comment-show">
    <div class="card form">
    <form action="/places/{{placeId}}/comment/{{commentId}}?_method=PUT" method="POST">
        <div><input type="text" value="{{commentTitle}}" name="title"></div>
        <div><input type="text" value="{{commentUserName}}" name="userName"></div>
        <div><input type="number" min="1" max="5" name="rating" value="{{commentRating}}">
        <label for="rating" id="p-label">is it empty? it's a 1.<br>super crowded? that's 5.</div>
         {{!-- <div><input type="range" min="1" max="5" value="{{commentRating}}" name="rating"></div>  --}}
        <div><textarea id="" cols="" rows="5" style="overflow:auto; resize:none" name="text">{{commentText}}</textarea></div>
        <div><input type="submit" value="update">
    </form>   
    </div>   {{!-- class="card" --}}
</div> {{!-- class="main" --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>