<h1>Update your comment for {{placeName}}</h1>

<form action="/places/{{placeId}}/comment/{{commentId}}?_method=PUT" method="POST">
    <div><input type="text" value="{{commentUserName}}" name="userName"></div>
    <div><input type="text" value="{{commentTitle}}" name="title"></div>
    <div><label for="rating">Rating: Is it empty? It's a 1.</div>
    <div>Is it super crowded? That's 5.</label></div>
    <div><input type="number" min="1" max="5"></div>
    {{!-- <div><input type="range" min="1" max="5" value="{{commentRating}}" name="rating"></div> --}}
    <div><textarea id="" cols="40" rows="5" style="overflow:auto; resize:none" value="{{commentText}}" name="text"></textarea></div>
    <div><input type="submit" value="update comment">
</form>   

<br>
    <div>
        <a href="/places/{{placeId}}">Back to {{placeName}}</a>
    </div>