<h1>{{placeName}}'s ratings</h1>

{{#each comments}}
    <div>
        <a href="/places/{{placeId}}/comment/{{comment._id}}">Show Item</a><br>
        <a href="/places/{{placeId}}/comment/{{comment._id}}/delete">Delete Item</a>
    </div>

    <div>
        <a href="/places/{{placeId}}">Back to {{place.name}}</a>
    </div>
{{/each}}
<br>
<div><button><a href="/comment/new">Create a new rating</a></button></div>
