<h1>{{placeName}}'s comments</h1><br>
<div><button><a href="/places/{{placeId}}/comment/new">Create a new comment</a></button></div>
<br>
<br>
{{#each comments}}
    <div>
        <div>User Name: {{this.userName}}</div>
        <div>Title: {{this.title}}</div>
        <div>Created At: {{this.created_at}}</div>
        <div>Rating: {{this.rating}}</div>
        <div>Text: {{this.text}}</div>
        <br>
        <div><a href="/places/{{../placeId}}/comment/{{this._id}}">Show Comment</a></div>
        <div><a href="/places/{{../placeId}}/comment/{{this._id}}/delete">Delete Item</a></div>
    </div>
    <br>
    <br>
{{/each}}

    <br>
    <div><button><a href="/places/{{placeId}}">Back to {{placeName}}</a></button></div>
