<header class="header">

<nav id="primary_nav_wrap">
    <ul>
        <li class="current-menu-item"><a href="#"><button class="btn btn-menu">Menu</button></a>
            <ul>
                <li class="dir"><a href="/">HOME</a></li>
                <li class="dir"><a href="/places">PLACE INDEX</a>
                    <ul>
                        <li><a href="/places/{{placeId}}">PLACE SHOW</a></li>
                    </ul>
                </li>
                <li class="dir"><a href="/places/{{placeId}}">BACK</a></li>
            </ul>
        </li>
    </ul>
</nav>
    {{!-- <a href="/places/{{placeId}}"><div id="back-btn"><button class="btn">Back to {{placeName}}</button></div></a> --}}
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>


{{!-- <nav id="primary_nav_wrap">
<ul>
    <li class="current-menu-item"><a href="#">Menu</a>
        <ul>
            <li class="dir"><a href="/">HOME</a></li>
            <li class="dir"><a href="/places">PLACE INDEX</a>
                <ul>
                    <li><a href="/places/{{placeId}}">PLACE</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
</nav> --}}






<div class="main">
<h1>{{placeName}}</h1>

<div id="new-comment-btn"><a href="/places/{{placeId}}/comment/new"><button class="btn btn-sm">leave a comment</button></a></div>

<br>
<br>
<div class="main-comment-index">
{{#each comments}}
    <div class="card">
        <div id="comment-rating">{{this.rating}}</div>
        <div id="comment-title"><a href="/places/{{../placeId}}/comment/{{this._id}}">{{this.title}}</a></div>
        <div>User Name: {{this.userName}}</div>
        {{!-- <div id="comment-created">{{this.created_at}}</div> --}}
    <div class="card-container">    
        <div>{{this.text}}</div>
        <br>
        {{!-- <div><a href="/places/{{../placeId}}/comment/{{this._id}}">Show Comment</a></div> --}}
        {{!-- <div><a href="/places/{{../placeId}}/comment/{{this._id}}/edit">Edit Comment</a></div> --}}
        {{!-- <div><a href="/places/{{../placeId}}/comment/{{this._id}}/delete">Delete Comment</a></div> --}}
    </div> {{!-- class="card-containter" --}}
    </div>{{!-- class="card" --}}

    <br>
    <br>
{{/each}}
<br>
<br>
<div id="new-comment-btn"><a href="/places/{{placeId}}/comment/new"><button class="btn">leave a comment</button></a></div>
</div> {{!-- class="main-comments" --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div> {{!-- class="main" --}}

