<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><button class="btn"><a href="/places/{{placeId}}/comment">Back to {{placeName}}</a></button></div>
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>

<h1>Make a new comment for {{placeName}}</h1>


<form action="/places/{{placeId}}/comment" method="POST">
    <div><input type="text" placeholder="User Name" name="userName"></div>
    <div><input type="text" placeholder="Title" name="title"></div>
    <div><label for="rating">Rating: Is it empty? It's a 1.</div>
    <div>Is it super crowded? That's 5.</label></div>
    <div><input type="number" min="1" max="5"></div>
    {{!-- <div><input type="range" min="1" max="5" placeholder="rating" name="rating"></div> --}}
    <div><textarea id="" cols="40" rows="5" style="overflow:auto; resize:none" placeholder="Comment Here" name="text"></textarea></div>
    <div><input type="submit" value="Create comment">
</form>   

<br>
    <div>
        <a href="/places/{{placeId}}/comment">Back to {{placeName}}</a>
    </div>