<h1>Make a new rating for {{placeName}}</h1>


    <div>User Name: {{comment.userName}}</div>
    <div>Title: {{comment.title}}</div>
    <div>Created At: {{comment.created_at}}</div>
    <div>Rating: {{comment.rating}}</div>
    <div>Text: {{comment.text}}</div>

    <div>
        <a href="/places/{{../placeId}}">Back to {{placeName}}</a>
    </div>


<div><button><a href="/comments/new">Create a new rating</a></button></div>   



<form action="/place/{{placeId}}/comment" method="POST">
    <input type="text" placeholder="item name" name="name">
    <input type="submit" value="Create Item">
</form>