<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><button class="btn"><a href="/places/{{placeId}}/comment">Back to {{placeName}}</a></button></div>
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>

<h1>Make a new comment for {{placeName}}</h1>

<h1>{{placeName}}</h1>

<div class="main-comment-show">
    <div class="card form">
    <form action="/places/{{placeId}}/comment" method="POST">
        <div><input type="text" placeholder="title" name="title"></div>
        <div><input type="text" placeholder="user name" name="userName"></div>
        <div><label for="rating">Is it empty? It's a 1.<br>Super crowded? That's 5.</div>
        <div><input type="number" min="1" max="5" name="rating"></div>
         {{!-- <div><input type="range" min="1" max="5" value="{{commentRating}}" name="rating"></div>  --}}
        <div><textarea id="" cols="" rows="5" style="overflow:auto; resize:none" placeholder="comment here" name="text"></textarea></div>
        <div><input type="submit" value="comment">
    </form>   
    </div>   {{!-- class="card" --}}
</div> {{!-- class="main" --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{{!-- </div>  class="main"  --}}