<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><button class="btn"><a href="/places/{{placeId}}/comment">Back to {{placeName}}'s comments</a></button></div>
    <div id="login-btn"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>

<div class="main"></div>
<h1>{{placeName}}</h1><br>

    {{!-- <div>User Name: {{commentUserName}}</div>
    <div>Created At: {{commentCreatedAt}}</div>
    <div>Rating: {{commentRating}}</div>
     <div>Text: {{commentText}}</div> 
    <br> --}}
    {{!-- <div><a href="/places/{{placeId}}/comment/{{commentId}}/edit">Edit comment</a></div> 
    <div><a href="/places/{{placeId}}/comment/{{commentId}}/delete">Delete Comment</a></div> --}}

<div class="main-comment-show">
    <div class="card">
        <div id="comment-rating">{{commentRating}}</div>
        <div id="comment-title">{{commentTitle}}</div>
        <div>User Name: {{commentUserName}}</div>
        <div id="comment-created">{{commentCreatedAt}}</div> 
        <div id="comment-updated">{{commentUpdatedAt}}</div> 
     <div class="card-container">     
        <div>{{commentText}}</div>
    </div>  {{!-- class="card-containter" --}}
        <div id="comment-edit-delete-btn"><a href="/places/{{placeId}}/comment/{{commentId}}/edit"><button class="btn btn-sm">Edit</button></a><a href="/places/{{placeId}}/comment/{{commentId}}/delete"><button class="btn btn-sm">Delete</button></a></div>
    </div>   {{!-- class="card" --}}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div> {{!-- class="main" --}}

