<h1>{{placeName}}</h1><br>
<h3>{{commentTitle}}</h3><br>

    <div>User Name: {{commentUserName}}</div>
    <div>Created At: {{commentCreatedAt}}</div>
    <div>Rating: {{commentRating}}</div>
    <div>Text: {{commentText}}</div>
    <br>
    {{!-- <div><a href="/places/{{placeId}}/comment/{{comment._id}}/edit">Edit {{comment.title}}</a></div> --}}




<br>
<br>
<div><a href="/places/{{placeId}}/comment">Back to {{placeName}}'s comments</a></div>