<header class="header">

<nav id="primary_nav_wrap">
    <ul>
        <li class="current-menu-item"><a href="#"><button class="btn btn-menu">Menu</button></a>
            <ul>
                <li class="dir"><a href="/">HOME</a></li>
                <li class="dir"><a href="/places">PLACE INDEX</a></li>
                <li class="dir"><a href="/places/">BACK</a></li>
            </ul>
        </li>
    </ul>
</nav>

            {{!-- <div id="back-btn"><a href="/places"><button class="btn">Back to Places</button></a></div> --}}
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="#"><button class="btn">sign up</button></a></div>
</header>

    <div class='card1'>
        <div class="container">
 <form action="/places/{{place.id}}?_method=PUT" method="POST">
    <div><input type="text" value="{{place.name}}" name="name"></div>
    <div><input type="text" value="{{place.address}}" name="address"></div>
    <div><input type="text" value="{{place.hours}}" name="hours"></div>
    <div><input type="text" value="{{place.image}}" name="image"></div></div>
    <div><textarea name="" id="" cols="50" rows="6" style="overflow:auto; resize:none" name="description">{{place.description}}</textarea></div>
    <div><input type="submit" value="edit place"></div>
</form> 

</div>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
