<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><a href="/"><button class="btn">Home</button></a></div>
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="#"><button class="btn">sign up</button></a></div>
</header>

<br>
<br>
<br>


{{#each place}}
    <div class='card1'>
        <img src='{{this.image}}' style='width:100%'>
        <div class="container">
    <a href="/places/{{this._id}}">{{this.name}}</a>
    <br>
    <div>Address: {{this.address}}</div>
    <br>
    <div>Hours: {{this.hours}}</div>
    <br>
    <div>Description: {{this.description}}</div>
     <br>
    </div>
        </div>
{{/each}}
{{!-- <div class="card">
  <img src="img_avatar.png" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>John Doe</b></h4> 
    <p>Architect & Engineer</p> 
  </div>
</div> --}}

