<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><a href="/"><button class="btn">Home</button></a></div>
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="#"><button class="btn">sign up</button></a></div>
</header>


<h1 class='place-title'>PLACES LIST</h1>

{{#each place}}
    <div class='places-show'>
    <a href="/places/{{this._id}}">{{this.name}}</a>
    <br><br>
    <div>Address: {{this.address}}</div>
    <br>
    <div>Hours: {{this.hours}}</div>
    <br>
    <blockquote>
    <div>Description: {{this.description}}</div>
    </blockquote>
    <br>
    <div>{{this.image}}</div>
    </br>
    </div>
{{/each}}


