<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-button"><button class="btn"><a href="/">Home</a></button></div>
    <div id="login-buttons"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>


<h1>PLACES LIST</h1>

{{#each place}}
    
    <a href="/places/{{this._id}}">Show {{this.name}}</a>
    <div>Name: {{this.name}}</div>
    <div>Address: {{this.address}}</div>
    <div>Hours: {{this.hours}}</div>
    <div>Description: {{this.description}}</div>
    <div>{{this.image}}</div>
    </br>
{{/each}}

