<header class="header">

    {{!-- <h5>{{title}}</h5> --}}
    



<nav id="primary_nav_wrap">
    <ul>
        <li class="current-menu-item"><a href="#"><button class="btn btn-menu">Menu</button></a>
            <ul>
                <li class="dir"><a href="/">HOME</a></li>
                <li class="dir"><a href="/places">PLACE INDEX</a></li>
                <li class="dir"><a href="/places/">BACK</a></li>
            </ul>
        </li>
    </ul>
</nav>

            {{!-- <div id="back-btn"><a href="/places"><button class="btn">Back to Places</button></a></div> --}}
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="/users/new"><button class="btn">sign up</button></a></div>

</header>

<h1>{{place.name}}</h1>
 <div class='card-show'>
  <div class="container">


 <div class="place-card-text"> 
         
<div><h2>Address</h2>
{{place.address}}</div>
<br>
<div><h2>Hours</h2>
 {{place.hours}}</div>
<br>
<div><h2>Description</h2> {{place.description}}</div>
<br>
<h3>See what people are saying about</h3>
<div><a href="/places/{{place.id}}/comment" id="place-to-comment-btn"><button class="btn btn-sm">{{place.name}}</button></a></div>
</div>
<br>
<div><img width="350px" src='{{place.image}}'></div>

<div class="place-card-text"><a href="/places/{{place.id}}/edit"><button class="btn btn-sm">edit</button></a> <a href="/places/{{place.id}}/delete"><button class="btn btn-sm">delete</button></a></div>

 
</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

