<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-button"><button class="btn"><a href="/places">Back to Places</a></button></div>
    <div id="login-buttons"><button class="btn">log in</button><button class="btn">sign up</button></div>
</header>

<h1>Welcome to {{place.name}}</h1>

{{!-- <div><img src="" alt=""></ima></div> --}}
<div>Name: {{place.name}}</div>
<div>Address: {{place.address}}</div>
<div>Hours: {{place.hours}}</div>
<div>Description: {{place.description}}</div>
{{!-- <div>Comments: {{place.comment}}</div> --}}

<div><a href="/places/{{place.id}}/comment">Check out {{place.name}}'s comments</a></div>


{{!-- FOR FUTURE COMMENTS
<h2>{{place.name}}'s comments</h2>
{{#each placeComments}}
    <div>
        {{this.name}}
        <a href="/users/{{../user._id}}/items/{{this._id}}">Show Item</a>
    </div>
{{/each}}
 --}}
<br>
<br>
<div>
    <button class="btn"><a href="/places">Back to Places</a></button>
</div>

