<header class="header">
    {{!-- <h5>{{title}}</h5> --}}
    <div id="back-btn"><a href="/"><button class="btn">Home</button></a></div>
    <div id="login-btn"><a href="#"><button class="btn">log in</button></a><a href="http://localhost:3000/users"><button class="btn">sign up</button></a></div>
</header>

<br>
<br>
<br>

<h1>Start Posting Now</h1>
<div class='card1'>
        <div class="container">
{{#each user}}
    <div>
        <div>First Name: {{this.first_name}}</div>
        <div>Last Name: {{this.last_name}}</div>
        <div>Email: {{this.email}}</div>
        <div>Created At: {{this.created_at}}</div>
        <div>Favorites: {{this.favorites}}</div>
        
        <a href="/users/{{this._id}}"><button class="btn">-Show {{this.first_name}}</button></a>
        <a href="/users/{{this._id}}/delete"><button class="btn">Delete {{this.first_name}}</button></a>
        <a href="/users/{{this._id}}/edit"><button class="btn">Edit {{this.first_name}}</button></a>
    </div>
{{/each}}
<br>
    <div><a href="/users/new"><button class="btn">-Sign Up Now-</button></a></div>
    </div>
</div>
