<h1>User {{user.first_name}} {{user.last_name}}</h1>

<div>First Name: {{user.first_name}}</div>
<div>Last Name: {{user.last_name}}</div>
<div>Email: {{user.email}}</div>
<div>Created At: {{user.created_at}}</div>

<h2>{{user.first_name}}'s Items</h2>
{{#each userItems}}
    <div>
        {{this.name}}
        <a href="/users/{{../user._id}}/items/{{this._id}}">Show Item</a>
    </div>
{{/each}}

<div>
    <a href="/users/{{user._id}}/delete">Delete</a>
    <a href="/users/{{user._id}}/edit">Edit</a>
</div>
<br>
<div>
    <a href="/users">Back to Users</a>
</div>